.body {
  min-width: 1100px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

.nav, .addres {
  font-size: 18px;
}

.header-nav-ul {
  display: flex;
  padding: 0;
  gap: 31px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.addres {
  line-height: 24.3px;
  font-style: normal;
}

.header-addres {
  margin-left: 184px;
}

.addres-ul {
  list-style-type: none;
}

.logo {
  width: 148px;
  height: 105px;
  margin-top: 92px;
  margin-bottom: 96px;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-left: 50px;
  padding-top: 165px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.dark-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.main-title {
  display: grid;
  grid-auto-rows: 115px;
  gap: 20px;
}

.heading {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  flex-direction: column;
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}

.aligned-text_left {
  justify-self: start;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
  padding-right: 0;
}

.description {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.description-with-button {
  display: grid;
  margin-top: 106px;
  grid-template-columns: 637px 256px;
  gap: 107px;
}

.description-text {
  word-spacing: 0.8em;
  justify-self: center;
  align-self: center;
}

.description-button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 31px;
}

.lots {
  padding-top: 180px;
  padding-left: 24px;
  padding-right: 24px;
}

.paragraph {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lot {
  padding-left: 40px;
}

.examples {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style-type: none;
  padding-top: 27px;
}

.cards {
  min-height: 596px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
    }

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.description-card {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  text-decoration: underline;
}

.cards-text {
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  margin-top: auto;
}

.cards-ssy {
  padding-left: 40px;
}

.about {
  display: grid;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  grid-template-columns: 359px auto;
}

.circle {
  margin-top: 35px;
  margin-left: 47px;
  margin-bottom: 8px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.logo-white {
  margin-top: 64px;
  margin-left: 46px;
  width: 148px;
  height: 114px;
}

.about-paragraph {
  padding-top: 136px;
}

.about-text {
  display: grid;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer {
  display: grid;
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 82px;
  grid-template-columns: 264.6px 154px 164px 177.4px 240px;
}

.footer-nav {
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
}

.nav-ul-footer {
  list-style-type: none;
}

.mini-logo-all {
  grid-column-start: 5;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 48px;
}

.mini-logo {
  width: 48px;
  height: 48px;
}